<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img.logo-linkidwordmark {
  width: 75px;
  height: 24px;
  margin: 0 377px 40px 0;
  object-fit: contain;
}

.title {
  width: 357px;
  height: 24px;
  margin: 40px 95px 40px 0;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}


.subtitle {
  width: 435px;
  height: 38px;
  margin: 40px 17px 25px 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.background {
  width: 600px;
  height: 405px;
  margin: 50px 286px 25px 50px;
}

.border {
  width: 250px;
  height: 30px;
  margin: 10px 40px 20px 0;
  padding: 25px 184px 20px 28px;
  background-color: #f7f7f7;
}

.borderline {
  width: 200px;
  height: 38px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.info {
  font-weight: 500;
  color: #000;
}

.content {
  width: 452px;
  height: 17px;
  margin: 25px 0 40px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.a {
  text-decoration-line: none;
}

.url {
  font-weight: 500;
  color: hwb(194 25% 20%);
}

button {
  width: 130px;
  height: 40px;
  margin: 20px 312px 0 0;
  padding: 8px 20px 15px 22px;
  border-radius: 10px;
  background-color: hwb(194 25% 20%);
  border : 0px
}

span {
  width: 55px;
  height: 19px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}


</style>
</head>
<body>

    <span class="title">
      start:T valid
    </span></br></br>

    <span class="subtitle">
      please, paste validCode below.
    </span>
    
    <div class="border">
    	<span class="borderline">
          <span class="subtitle"> <%= password %> </span>
        </span>
    </div>

    <span class="subtitle">
      is there any question, please reply to this message.
    </span>
    </br>

    <button class = "button">
      <a class = "a" href = <%= url %> ><span></span></a>
    </button>


</body>
</html>
